*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    // this defines what 1rem is
    font-size: 62.5%;
}
body{ /*Elements put in the body are inhetrited by all the chikd element in header*/
    
    box-sizing: border-box;
}